/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-bg);
}

.page-chart {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.page-wrapper {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  margin-right: -6px;
  margin-bottom: 0px;
  padding: 0 55px 0 59px;
  margin: 0 auto;
}

.page-chart.page-wrapper.container {
  min-height: calc(100% - 158px);
  margin-top: 70px;
}

.chart-wrapper {
  position: relative;
  padding: 30px 0;
}

.chart-list-container {
  height: 610px;
  overflow: hidden;
  margin-bottom: 15px;
}

.show-all {
  height: 100%;
}

.container .chart-wrapper .chart-header {
  position: relative;
  margin-bottom: 40px;
}

.chart-wrapper .chart-title {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.container .chart-wrapper .chart-header .chart-title .title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-primary);
  margin: 0;
}

.btn-chart-play {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: #7200a1;
  margin-left: 5px;
}

.btn-chart-play .chart-icon-play {
  font-size: 16px;
  color: var(--text-primary);
}

.show-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-list .btn-show-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  font-size: 14px;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  background-color: transparent;
  padding: 8px 25px;
}

.show-list .btn-show-list:hover {
  background-color: var(--alpha-bg);
}

.week-chart {
  padding-top: 40px;
}

.week-chart .week-chart-title {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 40px;
  font-weight: 700;
}

.week-chart-column {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -15px;
}

.container .week-chart-column .column-item {
  width: calc(100% / 3 - 30px);
  padding: 0 15px;
  margin-bottom: 30px;
}

.week-chart .week-chart-box {
  border-radius: 16px;
  background-color: var(--alpha-bg);
  padding: 20px 10px;
}

.box-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 10px 40px;
}

.box-header .box-header-title {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 600;
}

.box-header .box-header-title:hover {
  color: var(--link-text-hover);
}

.box-header .btn-chart-play {
  width: 30px;
  height: 30px;
}

.box-list {
  height: 306px;
  overflow: hidden;
  margin-bottom: 15px;
}

.otp-hover {
  display: none;
}
