.home-page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.home-page .home {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  margin-right: -6px;
  margin-bottom: 0px;
  padding: 0 59px;
}

.home > .container {
  min-height: calc(100% - 158px);
  margin-top: 70px;
}

.slider-container {
  padding-top: 20px;
}

.slider-item {
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  border-radius: 8px;
}

.slick-list .slick-track .slick-slide > div {
  padding: 15px;
}

.slick-arrow {
  display: none;
  z-index: 1;
}

.slick-next {
  right: 56px;
}

.slick-prev {
  left: 28px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.85);
}

.slick-slider:hover > .slick-arrow {
  display: block;
}
